body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;

  /* OR */

  font: 15px/1.5 Arial, Helvetica, sans-serif;

  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
.button_1 {
  height: 28px;
  background: orange;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button_2 {
  height: 28px;
  background: rgb(135, 135, 245);
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.dark {
  padding: 16px;
  background: orange;
  color: rgb(42, 42, 201);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* header */
header {
  background-color: rgb(42, 42, 201);
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: solid 3px orange;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: orange;
  font-weight: bold;
}
header a:hover {
  color: rgb(237, 253, 95);
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background: url(../images/showcase.jpg) no-repeat 0px -390px;
  color: #f4f4f4;
  text-align: center;
  border-bottom: solid 3px orange;
}
#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: white;
  background: rgb(42, 42, 201);
  border-bottom: solid 3px orange;
  /* margin-top: -3px; */
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"] {
  padding: 4px;
  height: 18px;
  width: 250px;
}
/* Newsletter About */

#newsletter-about {
  padding: 15px;
  color: white;
  background: rgb(42, 42, 201);
  border-bottom: solid 3px orange;
  /* margin-top: -3px; */
}
#newsletter-about h1 {
  float: left;
}
#newsletter-about form {
  float: right;
  margin-top: 15px;
}
#newsletter-about input[type="email"] {
  padding: 4px;
  height: 18px;
  width: 250px;
}
/* Newsletter Services */

#newsletter-services {
  padding: 15px;
  color: white;
  background: rgb(42, 42, 201);
  border-bottom: solid 3px orange;
  /* margin-top: -3px; */
}
#newsletter-services h1 {
  float: left;
}
#newsletter-services form {
  float: right;
  margin-top: 15px;
}
#newsletter-services input[type="email"] {
  padding: 4px;
  height: 18px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}
#boxes .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-Col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: 3px solid rgb(42, 42, 201);
  margin-bottom: 5px;
  background: rgb(250, 195, 93);
}

/* footer */
footer {
  padding: 20px;
  margin-top: 20px;
  color: orange;
  background: rgb(42, 42, 201);
  text-align: center;
  font-weight: bolder;
}

/* Media Queries  */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form ,
  #newsletter-about h1,
  #newsletter-about form ,
  #newsletter-services h1,
  #newsletter-services form ,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  #showcase h1 {
    margin-top: 10px;
   font-size: 36px;
  }
  #showcase p{
    margin-bottom: 10px;
    font-size: 17px;
  }
  #newsletter button ,  #newsletter-about button,  #newsletter-services button{
    margin-top: 10px;
  }
  #newsletter{
      margin-top: -83px;
  }
 
}
